body {
    display: flex;
    flex-direction: column;
    background-position: center-top;
    margin: 0;
}

.header,
.intro,
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    padding: 10px;
    gap: 5em;
}
.header div {
    display: flex;
    flex: 0 0 auto;
    gap: 1em;
}
.header img {
    flex: 0 0 auto;
}

.header button {
    color: white;
    background-color: #3882F6;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 15px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 3em;
}


.intro .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 5px;
}

.intro .text p {
    margin: 8px;
}

.intro .text button {
    color: white;
    background-color: #3882F6;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 8px;
}

.information {
    text-align: center;
}
.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.group-images {
    display: flex;
    justify-content: center;
    text-wrap: wrap;
    align-items: baseline;
}
.info-images img {
    object-fit:cover;
    width: 200px;
    height: 200px;
}
.info-images {
    flex: 1 1 0;
}
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote blockquote {
    flex: 1 1 auto;
    width: 600px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.box {
    background-color: #3882F6;
    justify-content: space-between;
    width: 700px;
    padding: 30px 70px;
    color: white;
    display: flex;
    gap: 1em;
    align-items: center;
    border-radius: 8px;
}
.box h3, .box p {
    padding: 0;
    margin: 0;
    text-wrap: wrap;
}
.box p {
    font-size: 13px;
    font-weight: 200;
}
.box button {
    color: white;
    background-color: #3882F6;
    font-weight: 600;
    flex-shrink: 0;
    padding: 5px 15px;
    border-radius: 15px;
}
.message {
    margin-right: auto;
}
.footer {
    text-align: center;
}
.header,
.intro,
.group-images,
.quote,
.footer {
    padding-left: 300px;
    padding-right: 300px;
}

a {
    text-decoration: none;
    color: white;
}